
@font-face {
font-family: "Fraunces-Light";
src: url("/fonts/Fraunces9ptSoft-Light.woff2") format("woff");
}
@font-face {
  font-family: "Montreal-medium";
  src: url("/fonts/NeueMontreal-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*
html {
  scroll-behavior: smooth;
}
*/

body {
  font-family: "Montreal-medium","Helvetica Neue", "helvetica", "arial", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.block-element {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 99999999999;
  background-color: rgba(0,0,0,0);
  pointer-events: none !important;
  opacity: 1;
  display: none;
}
.disattiva-mouse {
  pointer-events: none !important;
  display: block !important;
}
.hidden {
  display: none;
}
.footer-container {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
}
.home-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 40px 40px 0 40px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.home-bg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  background: black;
}
.bg-animation {
  width: 180%;
  height: 250%;
  position: absolute;
  /*top: 0;
  left: 0;*/
}
.footer-bg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}
.footer-bg-animation {
  width: 180%;
  height: 250vh;
  position: absolute;
}
.shape-bg-1, .shape-bg-1-footer {
  position: absolute;
  top: 10px;
  left: 10px;
  /*width: 1200px;*/
  width: 88vw;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: opacity 1s ease-out;
}
.shape-bg-2, .shape-bg-2-footer {
  position: absolute;
  top: 0px;
  left: 0px;
  /*width: 1200px;*/
  width: 88vw;
  opacity: 0;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: opacity 1s ease-out;
}
.shape-bg-3, .shape-bg-3-footer {
  position: absolute;
  top: 700px;
  left: 200px;
  /*width: 1200px;*/
  width: 88vw;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: opacity 1s ease-out;
}

.video-bg-container {
  height: 100%;
  width: auto;
  width:100%;
}
.video-bg-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.home-container p,
.footer-container p {
  margin: 0 0 48px 0;
  font-size: 34px;
  line-height: 40px;
  max-width: 1000px;
  z-index: 9;
  z-index: 2;
  position: relative;
  color: white;
  /**/
  mix-blend-mode: normal;
  font-size: 4rem;
  line-height: 1em;
  max-width: none;
}
.home-container p::selection {
  background: red;
}
.home-container p.contacts-home{
  /* margin: 0; */
}
.home-container p a {
  color: inherit !important;
  text-decoration: underline;
}
#copy-link, #copy-link-footer {
  /*display: none;*/
  opacity: 0;
  transition: opacity 1s easeInOut;
  -webkit-transition: all 0.25s;
}
#mail-icon, #mail-icon-footer {
  cursor: pointer;
  width: 18px;
}
#mail-icon:hover + #copy-link,
#mail-icon-footer:hover + #copy-link-footer {
  /*display: inline;*/
  opacity: 1 !important;
}
.btn-pastemail-mob,
.btn-pastemail-mob-footer {
  cursor: pointer;
}
.btn-pastemail-mob:hover + #copy-link,
.btn-pastemail-mob-footer:hover + #copy-link-footer {
  opacity: 1 !important;
}
.email-copied-confirmation {
  display: none;
}
.arrow-scroll-more {
  width: 32px;
  z-index: 2;
  mix-blend-mode: difference;
}
.scroll-more-btn {
  cursor: pointer;
}
.bravo-on {
  display: inline !important;
  opacity: 1 !important;

}
.footer-container p::selection {
  background: #e7de56;
}
.social-footer a {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  z-index: 2;
  color: white;
  mix-blend-mode: difference;
  margin-right: 20px;
}
p.credits-footer,
p.copyright,
p.social-footer-container {
  margin: 20px 0 0 0;
  font-size: 14px;
  line-height: 20px;
}
p.social-footer-container a {
  color: white;
  mix-blend-mode: difference;
}
.footer-container .scroll-up {
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: white;
  mix-blend-mode: difference;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  z-index: 2;
}
.scroll-up .scroll-up-btn {
  margin: 0 20px 0 0;
}
.arrow-scroll-up {
  width: 28px;
  top: -10px;
  position: relative;
  animation: slide-arrow-more 1s ease-in-out infinite;
  mix-blend-mode: difference;
}
.credits-container {
  display: flex;
  flex-direction: row;
}
.social-footer-container {
  margin: 0 0px 0 0 !important;
  width: calc(((100vw - 380px)/12) * 2 );
}
.credits-container p.credits-footer {
  width: calc(((100vw - 380px)/12) * 3 );
  margin: 0 20px 0 0 !important;
}
.credits-container p.copyright {
  width: calc(((100vw - 380px)/12) * 3 );
  margin: 0 !important;
}

/*stile per progetti*/
 :root {
	 --grid-gap: 0vw;
}
 * {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}
/*
 body {
	 font-family: "Helvetica", sans-serif;
	 background: #1e1f26;
}*/
h1 {
	 color: black;
	 font-size: 40px;
	 padding: var(--grid-gap) var(--grid-gap) 0;
	 margin: 0;
}
/*sfondi hero progetti*/

 #projects {
	 padding: var(--grid-gap);
	 display: grid;
	 grid-gap: var(--grid-gap);
	 grid-template-columns: 1fr 1fr;
}
.projects-on-top {
  z-index: 9999999;
}
 .project-item {
	 height: 400px;
   height: 300px;
   width: 100%;
	 position: relative;
	 /*cursor: pointer;*/
	 will-change: width, height, top, left, padding;
	 overflow: hidden;
	 border-radius: 0px;
	 transition: filter 0.3s ease-out, opacity 0.3s ease-out;
   /*new rules*/
   padding: 120px 0;
   padding: 0;
   box-sizing: border-box;
}
 .project-item.active {
	 pointer-events: none;
	 cursor: default;
	 filter: saturate(0);
	 opacity: 0.6;
}
 .project-item.active .project-title {
	 opacity: 1;
}
/* Remove pointer events, to prevent unintended click targets */
/*
.project-item * {
	 pointer-events: none;
	 user-select: none;
}*/

/*
 #projects .project-item:nth-child(n + 3) {
	 grid-column: span 2;
}
 #projects .project-item:nth-child(1) {
	 grid-row: 0.5;
	 height: 100%;
}
 #projects .project-item:nth-child(3) {
	 grid-column: span 2;
}*/
#proj-mm, #proj-grc,
#proj-lldigital, #proj-doodle, #proj-land, #proj-ll {
  grid-column: span 2;
}

/*show hide video preview*/
 .project-image video {
   display: none;
   width: 100%;
 }
.show-video-preview {
  /*display: flex !important;*/
  opacity: 1 !important;
}

 .project-title {
	 font-size: 42px;
	 line-height: 1.2;
	 font-weight: 400;
	 color: white;
   font-family: 'Montreal-medium', 'Helvetica',sans-serif;
	 mix-blend-mode: difference;
	 position: relative;
	 transition: opacity 0.3s ease-out;
	 margin-bottom: 0px;
   /*padding: 30px 20px;*/
	 z-index: 2;
   /*new rules*/
   cursor: pointer;
   pointer-events: all;
   position: absolute;
   top: 40px;
   left: 40px;
}
.project-subtitle {
	 font-size: 42px;
	 line-height: 1.2;
	 font-weight: 400;
	 color: white;
	 mix-blend-mode: difference;
	 position: relative;
	 transition: opacity 0.3s ease-out;
	 margin-bottom: 0px;
	 z-index: 2;
   /*new rules*/
   cursor: pointer;
   /* pointer-events: all !important;*/
   pointer-events: all;
   position: absolute;
   top: 90px;
   left: 40px;
}
.project-close {
  display: none;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  font-weight: 400;
  color: white;
  mix-blend-mode: difference;
  font-size: 34px;
  text-align: end;
  /* width: 100%; */
  top: 40px;
  right: 40px;
  z-index: 2;
  transition: opacity 0.3s ease-out;
}
.project-close img {
  width: 26px;
}
 .project-content {
	 display: none;
   width: 100%;
	 opacity: 0;
	 /*pointer-events: none;*/
	 /*background: white;*/
	 position: relative;
	 color: black;
   font-family: helvetica, arial, sans-serif;
   padding: 0;
   margin: 0;
	 overflow: hidden;
	 z-index: 1;
}
 /*.project-content p {
	 line-height: 1.5;
	 margin: 30px 0;
}*/
 .project-content img {
	 width: 100%;
}
.project-website {
  display: none;
  opacity: 0;
  pointer-events: none;
  /*width: 100%;*/
  font-size: 28px;
  font-weight: 300;
  color: white !important;
  text-decoration: underline;
  text-decoration: none;
  mix-blend-mode: difference;
  /* grid-column: 2 / span 6; */
  /* display: flex; */
  display: block;
  /* align-items: flex-end;*/
  /* margin-top: 200px; */
  margin: 0;
  /*margin-bottom: 80px;*/
  /* bottom: 80px; */
  left: 50px;
  top: 0px;
  /*bottom: 0px;*/
  overflow: hidden;
  position: absolute;
  transition: opacity 0.1s ease-in-out;
  z-index: 9;
}
.link-sito {
  position: relative;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.underline-website {
  display: inline-block;
  background-color: white;
  position: absolute;
  height: 2px;
  bottom: 0px;
  width: 100%;
}
/*
 #project-close {
	 position: absolute;
	 top: 30px;
	 right: 30px;
	 z-index: 20;
	 color: white;
	 mix-blend-mode: difference;
	 font-size: 30px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 opacity: 0;
	 cursor: pointer;
	 pointer-events: none;
	 transition: all 0.6s ease-out;
}*/

body .project-active #project-page .project-image:before, body .project-active #project-close {
	 opacity: 1;
	 pointer-events: all;
}
 body .project-active #project-page .project-item {
	 cursor: initial;
}
 body .project-active #project-page .project-content {
	 display: block;
}

.project-item.active .project-title,
.project-item.active .project-subtitle {
  pointer-events: none !important;
}


/*stile per contenuto pagina*/
.grid-full {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  padding: 0 40px;
  margin-bottom: 100px;
}
.full {
  padding: 0 !important;
}
.row-1 {
  padding-top: 40px;
}
.row-1 .title {
  grid-column: 2 / 6;
}
.row-1 p {
  font-family: 'Cormorant', helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.2em;
  grid-column: 8 / span 4;
  margin-top: 320px;
}
.container .row-1 .title h1 {
  font-size: 60px;
  line-height: 1.1em;
  font-weight: 400;
}
.container .row-1 .title h2 {
  font-size: 32px;
  font-weight: 400;
  margin-top: 80px;
  text-decoration: underline;
}
.container .title h2 a{
  color: black;
}

.row-half-l {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0;
  padding-right: 10px;
  width: 100%;
}
.row-half-r {
  grid-column: 7 / span 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0;
  padding-left: 10px;
  height: 100%;
}
.half-column-l {
  grid-column: 1 / span 6;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.half-column-r {
  grid-column: 7 / span 6;
  display: flex;
  flex-direction: column;
  padding: 0;

}

.full-width {
  padding: 0;
  margin: 0;
  width: 100%;
}



/*content project*/
.grid-content-page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  padding: 0 40px;
  margin-bottom: 20px;
  position: relative;
}
.full-content {
  padding: 0;
}
.first-proj-img {
  margin-bottom: 80px;
}
.full {
  padding: 0 !important;
}
.row-1 {
  padding-top: 40px;
}
.row-1 .title {
  grid-column: 2 / 6;
}
.project-description {
  font-family: Times, helvetica, arial, sans-serif;
  font-family: 'Fraunces-Light', Arial, sans-serif;
  /*font-style: italic;*/
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  grid-column: 8 / span 5;
  margin-top: 220px;
  margin-bottom: 80px;
}
.row-half-l {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0;
  padding-right: 10px;
  width: 100%;
}
.row-half-r {
  grid-column: 7 / span 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0;
  padding-left: 10px;
  height: 100%;
}
.video-padding {
  padding: 30px 0;
}
.proj-img-1-5 {
  width: 100%;
  grid-column: 1 / span 5;
}
.proj-img-1-4 {
  width: 100%;
  grid-column: 1 / span 4;
}
.proj-img-6-10 {
  width: 100%;
  grid-column: 6 / span 5;
}
.proj-img-6-12 {
  width: 100%;
  grid-column: 6 / span 7;
}
.proj-img-1-6 {
  width: 100%;
  grid-column: 1 / span 6;
}
.proj-img-3-7 {
  width: 100%;
  grid-column: 3 / span 5;
}
.proj-img-5-8 {
  width: 100%;
  grid-column: 5 / span 4;
}
.proj-img-8-12 {
  width: 100%;
  grid-column: 8 / span 5;
}
.proj-img-9-12 {
  width: 100%;
  grid-column: 8 / span 4;
}
.proj-img-3-10 {
  width: 100%;
  grid-column: 3 / span 8;
}
.proj-img-4-9 {
  width: 100%;
  grid-column: 4 / span 6;
}
.proj-img-2-11 {
  width: 100%;
  grid-column: 2 / span 10;
}
.proj-img-2-6 {
  width: 100%;
  grid-column: 2 / span 5;
}
.proj-img-7-11 {
  width: 100%;
  grid-column: 7 / span 5;
}
.proj-img-7-12 {
  width: 100%;
  grid-column: 7 / span 6;
}
.proj-img-5-12 {
  width: 100%;
  grid-column: 5 / span 8;
}
.proj-img-1-12 {
  width: 100%;
  grid-column: 1 / span 12;
}
.proj-img-2-12 {
  width: 100%;
  grid-column: 2 / span 11;
}
.proj-img-1-4 {
  width: 100%;
  grid-column: 1 / span 4;
}
.proj-img-1-5 {
  width: 100%;
  grid-column: 1 / span 5;
}
.proj-img-5-8 {
  width: 100%;
  grid-column: 5 / span 4;
}
.proj-img-9-12 {
  width: 100%;
  grid-column: 9 / span 4;
}
.closing-proj-text {
  width: 100%;
  font-family: 'Montreal-medium', 'Helvetica',sans-serif;
  grid-column: 1 / span 12;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 400;
  padding: 60px 0;
  color: black;
}
.oi-video-title {
  width: 100%;
  font-family: 'Montreal-medium', 'Helvetica',sans-serif;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 400;
  padding: 40px 0 20px;
  color: black;
}
.icon-2 {
  height: 100%;
  background-size: contain;
  background-image: url("assets/imgs/icon/icon-2.jpg");
}
.icon-3 {
  height: 100%;
  background-size: contain;
  background-image: url("assets/imgs/icon/icon-5.jpg");
}
.icon-4 {
  height: 100%;
  background-size: contain;
  background-image: url("assets/imgs/icon/icon-8.jpg");
}
.icon-5 {
  height: 100%;
  background-size: contain;
  background-image: url("assets/imgs/icon/icon-11.jpg");
}
.combo-1 {
  height: 100%;
  background-size: contain;
  background-image: url("assets/imgs/combo/combo-7.jpg");
}
.oi-screen-page {
  background-color: #F15C5C;
  grid-row-gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.oi-screen-page-2 {
  background-color: #F28203;
  grid-row-gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.oi-screen-page-3 {
  background-color: #B5C603;
  grid-row-gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.oi-screen-page-4 {
  background-color: #FFD0E6;
  grid-row-gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.land-print-page {
  background-color: black;
  padding: 40px 0;
}
.land-print-page-2 {
  background-color: black;
  padding-top: 40px;
  padding-bottom: 40px;
}
/* project video preview*/
#project-page .closing-proj-section h2::selection {
  background: pink;
  color: white;
  mix-blend-mode: difference;
}

.project-video-preview-container {
    float: none;
    clear: both;
    width: 100%;

    /*padding-bottom: 56.2%;*/
    padding-top: 56.25%;
    /*height: 0;*/

    /* Put the video in the background */
    position: absolute;
    position: relative;
    top: 0;
    left: 0;
    /*z-index: -1;*/
}
.project-video-preview-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.projects-area-active {
  /*z-index: 99;*/
}

/* video preview on hover*/
.proj-video-preview {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s ease-in-out;
}
.proj-video-preview video {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  width: 100%;
}
.scroll-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
}
.scroll-more p {
  margin: 20px 0 0 0;
}
.scroll-more .arrow-scroll-more {
  animation: slide-arrow-more 1s ease-in-out infinite;
}
@keyframes slide-arrow-more {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }
}

.is-loading{
  display: none;
}

/*stile solo desktop */
@media only screen and (min-width: 899px) {
  .des-hidden {
    display: none !important;
  }
}


/*stile responsive*/
@media only screen and (max-width: 900px) {
  .mob-hidden {
    display: none !important;
  }
  .home-container {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 15px 15px 0 15px;
    box-sizing: border-box;
  }
  .home-bg-container {
    width: 100%;
    height: 100vh;
  }
  .bg-animation {
    width: 280%;
    height: 210%;
    position: absolute;
  }
  .shape-bg-1,
   .shape-bgmb-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    /*width: 1200px;*/
    width: 190vw;
    height: auto;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    transition: opacity 1s ease-out;
  }
  .shape-bg-2,
  .shape-bgmb-2  {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 190vw;
    height: auto;
    opacity: 0;
    mix-blend-mode: difference;
    pointer-events: none;
    transition: opacity 1s ease-out;
  }
  .shape-bg-3,
  .shape-bgmb-3  {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 190vw;
    height: auto;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    transition: opacity 1s ease-out;
  }
  .home-container p,
  .footer-container p {
    margin: 0 0 22px 0;
    font-size: 22px;
    line-height: 28px;
  }

  #copy-link {
    /*display: none;*/
    opacity: 0;
    transition: opacity 1s easeInOut;
    -webkit-transition: all 0.25s;
  }
  #mail-icon, #mail-icon-footer {
    cursor: pointer;
    width: 14px;
    margin-left: 2px;
  }
  #mail-icon:hover + #copy-link {
    /*display: inline;*/
    opacity: 1 !important;
  }
  .arrow-scroll-more {
    width: 18px;
    mix-blend-mode: difference;
  }
  .scroll-more-btn {
    cursor: pointer;
  }
  .bravo-on {
    display: inline !important;
    opacity: 1 !important;

  }
  /*sfondi hero progetti*/

   #projects {
  	 padding: var(--grid-gap);
  	 display: grid;
  	 grid-gap: var(--grid-gap);
  	 grid-template-columns: 1fr;
  }
  .projects-on-top {
    z-index: 9999999;
  }
   .project-item {
     height: 150px;
     width: 100%;
  	 position: relative;
  	 /*cursor: pointer;*/
  	 will-change: width, height, top, left, padding;
  	 overflow: hidden;
  	 border-radius: 0px;
  	 transition: filter 0.3s ease-out, opacity 0.3s ease-out;
     /*new rules*/
     padding: 120px 0;
     padding: 0;
     box-sizing: border-box;
  }
   .project-item.active {
  	 pointer-events: none;
  	 cursor: default;
  	 filter: saturate(0);
  	 opacity: 0.6;
  }
   .project-item.active .project-title {
  	 opacity: 1;
  }
  /* Remove pointer events, to prevent unintended click targets */

  .project-item * {
  	 /*pointer-events: none;
  	 user-select: none;*/
  }

  #proj-mm, #proj-grc,
  #proj-lldigital, #proj-doodle, #proj-land, #proj-ll {
    grid-column: span 1;
  }

  /*show hide video preview*/
   .project-image video {
     display: none;
     width: 100%;
   }
  .show-video-preview {
    /*display: flex !important;*/
    opacity: 1 !important;
  }

   .project-title {
  	 font-size: 22px;
  	 line-height: 1.2;
  	 font-weight: 400;
  	 color: white;
     font-family: 'Montreal-medium', 'Helvetica',sans-serif;
  	 mix-blend-mode: difference;
  	 position: relative;
  	 transition: opacity 0.3s ease-out;
  	 margin-bottom: 0px;
     /*padding: 30px 20px;*/
  	 z-index: 2;
     /*new rules*/
     cursor: pointer;
     pointer-events: all;
     position: absolute;
     top: 15px;
     left: 15px;
  }
  .project-subtitle {
  	 font-size: 22px;
  	 line-height: 1.2;
  	 font-weight: 400;
  	 color: white;
  	 mix-blend-mode: difference;
  	 position: relative;
  	 transition: opacity 0.3s ease-out;
  	 margin-bottom: 0px;
  	 z-index: 2;
     /*new rules*/
     cursor: pointer;
     /* pointer-events: all !important;*/
     pointer-events: all;
     position: absolute;
     top: 40px;
     left: 15px;
     /* max-width: 100%; */
     max-width: calc(100% - 30px);
  }
  #project-page .project-subtitle .stretto {
    letter-spacing: -1.5px;
  }
  .project-close {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    font-weight: 400;
    color: white;
    mix-blend-mode: difference;
    font-size: 24px;
    text-align: end;
    /* width: 100%; */
    top: 26px;
    left: 15px;
    right: auto;
    z-index: 2;
    transition: opacity 0.3s ease-out;
  }
  .project-content {
  	 /*display: none;*/
     width: 100%;
  	 opacity: 0;
  	 /*pointer-events: none;*/
  	 /*background: white;*/
  	 position: relative;
  	 color: black;
     font-family: helvetica, arial, sans-serif;
     padding: 0;
     margin: 0;
  	 overflow: hidden;
  	 z-index: 1;
  }
  .project-content img {
  	 width: 100%;
  }
  .project-website {
    opacity: 0;
    pointer-events: none;
    /*width: 100%;*/
    font-size: 24px;
    font-weight: 300;
    color: white !important;
    text-decoration: underline;
    text-decoration: none;
    mix-blend-mode: difference;
    /* grid-column: 2 / span 6; */
    /* display: flex; */
    display: block;
    /* align-items: flex-end;*/
    /* margin-top: 200px; */
    margin: 0;
    /*margin-bottom: 80px;*/
    /* bottom: 80px; */
    left: 50px;
    top: 0px;
    overflow:hidden;
    /*bottom: 0px;*/
    position: absolute;
    transition: opacity 0.1s ease-in-out;
    z-index: 9;
  }
  .link-sito {
    list-style-type: none;
	  display: flex;
	  flex-direction: row;
	  overflow: hidden;
  }

  body .project-active #project-page .project-image:before, body .project-active #project-close {
  	 opacity: 1;
  	 pointer-events: all;
  }
   body .project-active #project-page .project-item {
  	 cursor: initial;
  }
   body .project-active #project-page .project-content {
  	 display: block;
  }

  .project-item.active .project-title,
  .project-item.active .project-subtitle,
  .project-item.active .proj-video-preview {
    pointer-events: none !important;
  }


  /*stile per contenuto pagina*/
  .container .title h2 a{
    color: black;
  }

  .full-width {
    padding: 0;
    margin: 0;
    width: 100%;
  }



  .video-bg-container video {
    height: 100%;
  }

  /*content project*/
  .grid-content-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    padding: 0 15px;
    margin-bottom: 15px;
    position: relative;
  }
  .full-content {
    padding: 0;
  }
  .first-proj-img {
    margin-bottom: 80px;
  }
  .full {
    padding: 0 !important;
  }
  .row-1 {
    padding-top: 40px;
  }
  .row-1 .title {
    grid-column: 1 / 2;
  }
  .project-description {
    font-family: Times, helvetica, arial, sans-serif;
    font-family: 'Fraunces-Light', Arial, sans-serif;
    /*font-style: italic;*/
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    grid-column: 1 / span 2;
    margin-top: 240px;
    margin-bottom: 50px;
  }
  .video-padding {
    padding: 30px 0;
  }
  .proj-img-1-5 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-1-4 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-6-10 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-6-12 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-1-6 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-3-7 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-5-8 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-8-12 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-9-12 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-3-10 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-4-9 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-2-11 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-2-6 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-7-11 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-7-12 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-5-12 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-1-12 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-2-12 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-1-4 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-1-5 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-5-8 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .proj-img-9-12 {
    width: 100%;
    grid-column: 1 / span 2;
  }
  .margin-on-mob{
    margin-bottom: 15px;
  }
  .closing-proj-text {
    width: 100%;
    grid-column: 1 / span 2;
    font-size: 22px;
    line-height: 1.2;
    line-height: 25px;
    font-weight: 400;
    padding: 0px 0;
    color: black;
  }
  .closing-proj-section {
    height: 120px;
  }
  .oi-video-title {
    font-size: 22px;
    padding: 15px 0 15px;
  }
  .icon-2 {
    height: 100%;
    background-size: contain;
    background-image: url("assets/imgs/icon/icon-2.jpg");
  }
  .icon-3 {
    height: 100%;
    background-size: contain;
    background-image: url("assets/imgs/icon/icon-5.jpg");
  }
  .icon-4 {
    height: 100%;
    background-size: contain;
    background-image: url("assets/imgs/icon/icon-8.jpg");
  }
  .icon-5 {
    height: 100%;
    background-size: contain;
    background-image: url("assets/imgs/icon/icon-11.jpg");
  }
  .combo-1 {
    height: 100%;
    background-size: contain;
    background-image: url("assets/imgs/combo/combo-7.jpg");
  }
  .oi-screen-page {
    background-color: #F15C5C;
    grid-row-gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .oi-screen-page-2 {
    background-color: #F28203;
    grid-row-gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .oi-screen-page-3 {
    background-color: #B5C603;
    grid-row-gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .oi-screen-page-4 {
    background-color: #FFD0E6;
    grid-row-gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .land-print-page {
    background-color: black;
    padding: 40px 0;
  }
  .land-print-page-2 {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  /* project video preview*/

  .project-video-preview-container {
      float: none;
      clear: both;
      width: 100%;

      /*padding-bottom: 56.2%;*/
      padding-top: 56.25%;
      /*height: 0;*/

      /* Put the video in the background */
      position: absolute;
      position: relative;
      top: 0;
      left: 0;
      /*z-index: -1;*/
  }
  .project-video-preview-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

  .projects-area-active {
    z-index: 99;
  }

  /* video preview on hover*/
  .proj-video-preview {
    width: 100%;
    height: 100%;
    pointer-events: auto;
    /*display: none;*/
    opacity: 0;
    align-items: center;
    justify-content: center;
  }
  .proj-video-preview video {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    width: 100%;
    pointer-events: none;
  }
  .scroll-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
  }
  .scroll-more p {
    margin: 20px 0 0 0;
  }
  .scroll-more .arrow-scroll-more {
    animation: slide-arrow-more 1s ease-in-out infinite;
  }
  /*footer*/
  .footer-container {
    height: 400px;
    padding: 15px 15px 80px 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-bg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
  }
  .footer-bg-animation {
    width: 280%;
    height: 220%;
    position: absolute;
  }
  .social-footer a {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    position: relative;
  }
  p.credits-footer {
    margin: 20px 0 0 0;
    font-size: 14px;
    line-height: 20px;
  }
  .footer-container .scroll-up {
    position: absolute;
    bottom: 15px;
    right: auto;
    left: 15px;
    color: white;
    mix-blend-mode: difference;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    z-index: 2;
  }
  .scroll-up .scroll-up-btn {
    margin: 0 10px 0 0;
  }
  .arrow-scroll-up {
    width: 18px;
    top: -10px;
    position: relative;
    animation: slide-arrow-more 1s ease-in-out infinite;
    mix-blend-mode: difference;
  }
  .shape-bg-1-footer,
  .shape-bgmb-1-footer {
    position: absolute;
    width: 190vw;
    height: auto;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    transition: opacity 1s ease-out;
  }
  .shape-bg-2-footer,
  .shape-bgmb-2-footer {
    position: absolute;
    width: 190vw;
    height: auto;
    opacity: 0;
    mix-blend-mode: difference;
    pointer-events: none;
    transition: opacity 1s ease-out;
  }
  .shape-bg-3-footer,
  .shape-bgmb-3-footer {
    position: absolute;
    width: 190vw;
    height: auto;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    transition: opacity 1s ease-out;
  }
  .credits-container {
    flex-direction: column;
  }
  p.social-footer-container {
    margin: 0 0 20px 0 !important;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
  }
  .credits-container p.credits-footer {
    width: 100%;
    margin: 0 0 20px 0 !important;
    font-size: 14px;
    line-height: 20px;
  }
  .credits-container p.copyright {
    width: 100%;
    margin: 0 !important;
    font-size: 14px;
    line-height: 20px;
  }
  .email-copied-confirmation-footer {
    display: none;
  }


  .is-loading{
    width: 100vw;
    height: 100vh;
    display: none;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: rgba(255,255,255, 0.8);
    background-color: black;
    background-color: rgba(67, 77, 67, 0.9);
    background-color: rgba(66, 100, 244, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    opacity: 0;
    /*opacity: 1;*/
    overflow: hidden;
    transition: opacity 1.8s ease-in-out;
  }
  .is-transitioning {
    display: flex !important;
    opacity: 1 !important;
  }
  .is-loading p {
    font-family: 'Montreal-medium', 'Helvetica',sans-serif;
    font-size: 34px;
    padding-bottom: 60px;
    color: white;
    mix-blend-mode: difference;
    -webkit-animation: pulsate-bck 1.2s ease-in-out infinite both;
  	        animation: pulsate-bck 1.2s ease-in-out infinite both;
  }
  /*animazione closing*/
  /* ----------------------------------------------
 * Generated by Animista on 2021-1-10 17:8:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

  /*stile per la pagina prodotto singola*/
  .mob-proj-page {
    min-height: 100vh;
  }

}
/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 1088px) {
  #projects #proj-gs1 h2.project-subtitle {
    top: 147px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 791px) {
  #projects #proj-maxxi h2.project-subtitle {
    top: 147px !important;
  }
}
