
::selection {
  background-color: #eaeaea;
  background-color: var(--bg-selection-text);
  /*color: transparent;
  color: #d4d4d4;*/
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 601px) {

}
@media only screen and (max-width: 600px) {

}
/*
img, video, .rounded-border {
  max-width: 100%;
  border-radius: .5rem;
  border-radius: 1rem;
  border-radius: 0;
  border-radius: calc(var(--base-font-size) / 2);
}*/
.no-border {
  border-radius: 0;
}

a {
  color: inherit;
}
h5 {
  font-size: 1.5rem;
  line-height: 1.9rem;
}



/* CSS 2023 */
.project-nav-container {
  position: fixed;
  top: 0;
  width: calc(100% - (2 * var(--margin-page)));
  width: 100%;
  display: grid;
  padding: calc(var(--margin-page)/2) var(--margin-page);
  margin: 0;
  grid-template-columns: repeat(8, 1fr);
  column-gap: var(--margin-page);
  row-gap: var(--margin-page);
  z-index: 99999;
  background: transparent;
  transition: transform 0.3s ease;
  color: var(--bg-white);
  mix-blend-mode: difference;
  -webkit-transform: translate3d(0,0,99999px);
}

.small-project-name {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.project-description {
  font-weight: 500;
}

.project-subtitle {
  margin-bottom: calc(4 * var(--margin-page));
  margin-bottom: calc(2 * var(--margin-page));
}

p.project-description {
  margin-bottom: calc(1 * var(--baseline));
}
p.project-description:last-child{
  margin-bottom: 0;
}


/* END CSS 2023 */



.scroll-down {
  transform: translate3d(0, -100%, 1px);
}


.top-header .name-home {
  grid-column: 1 / span 6;
  display: flex;
}
.top-header .menu-items {
  grid-column: 7 / span 6;
  display: flex;
  justify-content: flex-end;
  justify-content: flex-start;
}

/*
.header-item {
  font-size: 1.4rem;
  font-size: 1.2rem;
  text-decoration: none;
}
*/


.bottom-info-proj-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  padding: calc(var(--margin-page)/2) var(--margin-page);
  margin: 0;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--margin-page);
  row-gap: var(--margin-page);
  z-index: 9;
  color: var(--bg-white);
  background: transparent;
  mix-blend-mode: difference;
}
.proj-name,
.proj-tags {
  grid-column: auto / span 6;
}

.opening-section-project {
  width: 100%;
  position: relative;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: calc( var(--margin-page) * 2 + var(--baseline));
  padding-bottom: var(--margin-page);
}
.project-pic {
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.project-pic img {
  object-fit: fill;
  width: 100%;
  height: auto;
  border-radius: 0;
}
.project-content-section {
  margin-top: 100vh;
  padding: calc(var(--margin-page)*1.5) 0;
  /*margin-top: calc(100vh - (var(--margin-page) + 1.8rem));*/
  position: relative;
  background: var(--bg-white);
  z-index: 9;
}
.proj-content-wrapper {
  background: var(--bg-white);
}
.proj-content-wrapper .project-name {
  font-size: 2.9rem;
}
.proj-content-wrapper p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-top: calc(var(--margin-page) * 4);
  margin-bottom: calc(var(--margin-page) * 4);
}
.proj-content-wrapper .project-pagraph-wrapper {
  display: flex;
  justify-content: center;
  /**/
  flex-direction: column;
  align-items: center;
  row-gap: 0;
}
.proj-content-wrapper .project-pagraph {
  font-size: 1.9rem;
  line-height: calc(1.5 * var(--baseline));
  max-width: 45em;
  text-indent: calc(1.5 * var(--baseline));
}
.date-category {
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.show-more-btn {
  cursor: s-resize;
}
.heading-project-info {
  /**/
}

.proj-date-category-container {
  padding: calc(var(--margin-page)/2) var(--margin-page);
  background: var(--bg-white);
}

.visit-website {
  text-decoration: none;
}
.visit-website span {
  display: inline-block;
}
.visit-website:hover span {
  animation: rotate 2s linear infinite; 
}
@keyframes rotate{
  to{ transform: rotate(360deg); }
}
.page-width {
  padding-left: var(--margin-page);
  padding-right: var(--margin-page);
}
.btm-pad-1 {
  padding-bottom: var(--margin-page);
}




.vimeo-video-element-project-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.main-content-home {
  position: relative;
  display: grid;
  margin: var(--margin-page);
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--margin-page);
  row-gap: var(--margin-page);
}
.main-content-home .paragraph {
  grid-column: 1 / span 8;
  font-size: 2.4rem;
  font-size: 2.8rem;
  line-height: calc(var(--baseline) * 2);
  letter-spacing: -0.015em;
  width: 100%;
  /**/
  font-weight: 400;
  font-size: 2.1rem;
  line-height: calc(var(--baseline) * 1.6);
}
.main-content-home .paragraph sup {
  line-height: 0;
  font-size: .6em;
  position: relative;
  top: .1em;
}
.notes-section {
  grid-column: 10 / span 3;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: var(--margin-page);
  grid-template-rows: masonry;
  position: relative;
}
.notes-wrapper {
  position: relative;
  width: 100%;
}
h5.didascalia {
  font-size: 1.3rem;
  margin-bottom: var(--baseline);
  font-size: 1.2rem;
  line-height: calc(var(--baseline));
  line-height: calc(var(--baseline) * 0.8);
  font-size: 1.15rem;
}
.no-br {
  white-space: nowrap;
}
.title-proj {
  /*font-style: italic;
  font-weight: 400;*/
}
.ico {
  line-height: 0;
  text-decoration: none;
}
.link-e {
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.07em;
}
.link-contacts{
  text-decoration: none;
}
.link-contacts:hover {
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.07em;
}
.ref-text,
.h-text {
  background: var(--bg-selection-text);
  color: var(--bg-selection-text);
  transition: all .2s ease;
}
.show-h-text {
  background: transparent;
  color:var(--text-black);
}
.hover-h-text {
  transition: all 0s ease;
}
.hover-h-text:hover {
  color: var(--bg-white);
  background: var(--text-black);
  text-decoration: none;
}
.hover-h-text:hover .show-h-text {
  color: var(--bg-white);
  /*background: var(--text-black);*/
  text-decoration: none;
}
.note-ref {
  /*background: #4f5bd5;*/
  cursor: ne-resize;
}
.note-ref-2:hover {
  /*background: #f37735;*/
}

.ref-text {
  text-decoration: underline;
  text-decoration: none;
}
.note {
  /*display: none;*/
  opacity: 0;
  position: fixed;
  padding-right: var(--margin-page);
  /*transform: translateX(20%);
  transform: translateY(-20%);*/
  transform: translate(20%, 0);
  transition: all 0.2s ease-out;
}
.show-note {
  /*display: block;*/
  opacity: 1;
  /*transform: translateX(0);
  transform: translateY(0);*/
  transform: translate(0, 0);
}
.note-mob-info {
  display: none;
}
.note-des-info {
  display: flex;
}
.note-des-info p.paragraph {
  width: auto;
  margin-right: calc( var(--margin-page) * 2);
}
.active-scale {
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.07em;
}
.weather::after{
  content: '°';
}

.hidden {
  display: none;
}
.loader-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999999999999;
  transition: transform .7s ease-in-out;
  background: var(--bg-white);
  transform: translateY(0%) translateZ(1px);
  border-radius: 0;
  display: none;
}
.page-has-loaded {
  transform: translateY(100%) translateZ(1px);
}

.video-bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  image-rendering: pixelated;

}
.video-bg-container video,
.video-bg-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-bg-item {
  border-radius: 0 !important;
}
.video-bg-item-wrapper {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}
.video-vimeo-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}
.video-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.0);
}
.related-projects-section {
  background: var(--bg-white);
  z-index: 9;
}
.related-project-item a {
  margin-bottom: calc(.5 * var(--baseline));
  display: block;
}
.related-project-info {
  padding-bottom: var(--margin-page);
}
.proj-section-header {
  padding: var(--margin-page);
}
.lazy-img,
.lazy-img-big {
  width: 100%;
  /*image-rendering: pixelated;*/
  object-fit: cover;
  filter: blur(20px);
  -webkit-filter: blur(20px);
  transition: all .6s ease-in-out;
}
.remove-blur {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}




@media only screen and (min-width: 601px) {
  .des-hidden {
    display: none;
  }
}

/*mobile*/
@media only screen and (max-width: 600px) {
  *:hover {
    /*background: inherit;*/
    /*color: inherit;*/
    /*text-decoration: inherit;*/
  }
  .h-text, .link-e, .show-h-text {
    background: inherit;
    color: inherit;
  }

  /* ============ CSS 2023 ============ */
  .project-nav-container {
    position: fixed;
    top: 0;
    width: calc(100% - (2 * var(--margin-page)));
    width: 100%;
    display: grid;
    padding: calc(var(--margin-page)/2) var(--margin-page);
    margin: 0;
    grid-template-columns: repeat(6, 1fr);
    column-gap: var(--margin-page);
    row-gap: var(--margin-page);
    z-index: 99999;
    background: transparent;
    transition: transform 0.3s ease;
    color: var(--bg-white);
    mix-blend-mode: difference;
    -webkit-transform: translate3d(0,0,99999px);
  }
  /* ============ END CSS 2023 =========== */




  .ctrls-3d div {
    font-size: 1.1rem;
    background: var(--bg-white);
    background: transparent;
    margin-right: .7em;
  }
  .ctrls-3d div:hover {
    color: var(--text-black);
    background: var(--bg-white);
    background: transparent;
  }
  .clock-wrapper {
      font-size: 1.1rem;
  }
  .note-mob-info {
    display: block;
  }
  
  .main-content-home {
    margin: calc(2 * var(--margin-page));
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--margin-page);
    row-gap: var(--margin-page);
    padding-bottom: 4em;
  }
  .main-content-home .paragraph {
    grid-column: 1 / span 4;
    font-size: 1.55rem;
    font-size: 1.65rem;
    line-height: calc(var(--baseline) * 1.3);
    letter-spacing: -0.015em;
    width: 100%;
    font-size: 1.5rem;
    line-height: calc(var(--baseline) * 1.2);
  }
  .main-content-home .paragraph sup {
    line-height: 0;
    font-size: .6em;
  }
  .notes-section {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9;
  }
  .link-contacts {
    text-decoration: underline;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.07em;
  }
  .show-block-note {
    display: block;
    pointer-events: all;
  }
  .note {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--bg-white);
    background-color: var(--bg-selection-text);
    column-gap: var(--margin-page);
    padding: calc(var(--margin-page) * 2);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: all .3s ease;
    transform: translateY(200%);
  }
  .show-mob-note {
    transform: translateY(0);
    opacity: 1;
  }




  .note img,
  .note video {
    grid-row: 1;
    grid-column: 1 / span 2;
    margin-bottom:  calc(var(--margin-page) * 2);
    margin-left: 3rem;
    box-sizing: border-box;
    width: calc(100% - 3rem);

  }
  .note-active-mob {
    grid-row: 2;
    color: var(--bg-white);
    background: var(--text-black);
  }
  .note-mob-info {
    display: flex;
    grid-column: 1 / span 2;
  }
  .note-mob-info .paragraph {
    width: 3rem;
  }
  .note-mob-info .didascalia {
    width: calc(100% - 3rem);
  }
  .full-with-info {
    grid-column: 1 / span 2;
  }
  h5.didascalia {
    font-size: 1.3rem;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: calc((var(--baseline) * 1.3) / 2);
  }
  .link-e {
    text-decoration: underline;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.07em;
  }
  .note-ref {
    cursor: auto;
  }
  .opening-section-project {
    padding-top: calc(var(--margin-page) + var(--baseline));
  }
  .opening-section-project,
  .video-bg-container {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .project-content-section{
    margin-top: 0;
  }
  .proj-content-wrapper .project-name {
    font-size: 2.2rem;
  }
  .proj-content-wrapper .project-pagraph {
    font-size: 1.2rem;
    max-width: none;
    text-indent: 1em;
    line-height: calc(1 * var(--baseline));
  }
  .related-proj-grid {
    display: flex;
    overflow-x: scroll;
  }
  .related-project-item {
    flex-shrink: 0;
    width: 70vw;
  }


}
